<launch>
	<arg name="robot" />
	
	<param name="planning_scene_topic" value="/get_planning_scene"/>
	
	<!--Load the walls for your workspace-->
	<rosparam command="load" file="$(find world_manager)/configs/$(arg robot).workspace.yaml"/>
	
	<node name="world_manager" pkg="world_manager" type="world_manager_node.py" output="screen"/>
</launch>
